*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  width: 100%;
  isolation: isolate;
}

@font-face {
  font-family: myFontTitle;
  src: url("../fonts/SHUTTLE-X.woff");
}

@font-face {
  font-family: myFontHeader;
  src: url("../fonts/Ubuntu-BoldItalic.ttf");
}

@font-face {
  font-family: myFontRegular;
  src: url("../fonts/Montserrat.ttf");
}

main {
  display: grid;
  grid-template-columns: 45vw 1fr;
  margin-top: 4rem;
}

@media (min-width: 360px) and (max-width: 1440px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    box-sizing: border-box;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  main {
    margin-top: 3.85rem;
  }
}
