.detail-card {
  display: flex;
  flex-direction: column;
}

.detail-card > div {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
}

#edit-detail,
#delete-detail {
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10px;
  top: -1px;
  padding: 0;
}

#delete-detail {
  padding: 1.5px;
}

#edit-detail:hover,
#delete-detail:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}
