.education-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--sidebar-border-color);
}

.education-main {
  max-height: 850px;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 1fr;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.45s;
  transition-timing-function: ease-in-out;
  font-family: myFontRegular;
  padding: 0 1.25rem;
  box-sizing: content-box;
  border-bottom: 1px solid var(--sidebar-border-color);
}

.education-main.closed {
  max-height: 0;
  border-bottom: 0px solid var(--sidebar-border-color);
}

.add-education {
  place-self: end;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  width: max-content;
  transition: all 0.45s ease;
  position: relative;
  top: -150px;
  overflow: hidden;
  transform: scaleY(0);
}

.add-education.visible {
  position: relative;
  top: 0px;
  transform: scaleY(1);
  margin-top: 1.25rem;
  padding: 0.5rem 1rem;
  transform-origin: top;
  margin-bottom: 1.25rem;
}

#add-education:hover {
  background-color: black;
}

.education-form {
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.45s ease;
  overflow: hidden;
  display: flex;
  max-height: 500px;
  margin-bottom: 1.25rem;
  position: relative;
  top: -5px;
}

.education-form.closed {
  max-height: 0;
  margin: 0;
}

.education-form > div:first-of-type,
.education-form > div:nth-child(2),
.education-form > div:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.education-school,
.education-place-study,
.education-title-study {
  width: calc(100%);
}

.education-gpa-start-end {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.education-gpa-start-end > div {
  display: flex;
  flex-direction: column;
}

.education-gpa,
.education-end-date,
.education-start-date {
  width: 30%;
}

.education-form input {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.education-form input:focus {
  border: 1px solid rgb(67, 122, 232);
  box-shadow: 3px 3px 10px rgba(111, 105, 105, 0.3);
}

.education-form input:user-invalid {
  border: 1px solid red;
}

.education-form-btns {
  align-self: end;
  display: flex;
  gap: 1rem;
}

#cancel-education,
#update-education,
#submit-education {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

#cancel-education {
  color: rgb(255, 62, 62);
  border: 1px solid rgb(255, 62, 62);
}

#submit-education {
  color: white;
  background-color: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
}

#update-education {
  display: none;
  color: white;
  background-color: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
}

#submit-education:hover {
  background-color: rgb(0, 138, 223);
}

#cancel-education:hover {
  background-color: rgb(228, 228, 228);
}

#update-education:hover {
  background-color: rgb(0, 138, 223);
}

.education-cards {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

@media (min-width: 360px) and (max-width: 1440px) {
  .education-main.visible {
    height: 100vh;
    border-bottom: 1px solid var(--sidebar-border-color);
    overflow: auto;
  }
}
