.general-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

.general-main {
  height: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.25s ease-out;
}

.general-main.visible {
  height: 200px;
}

.general-form {
  display: none;
}
