:root {
  --header-bg-color: rgb(31, 151, 255);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--header-bg-color);
  width: 100%;
  color: white;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.05rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#logo-img {
  width: 50px;
  height: 50px;
}

#logo-text {
  font-family: myFontTitle;
  font-weight: 500;
  font-size: 2.075rem;
}

.header-buttons {
  display: flex;
  gap: 1rem;
}

#load-dummy,
#clear-resume,
#download-resume {
  border: none;
  background-color: var(--header-bg-color);
  color: white;
  font-size: 1.5rem;
  font-family: myFontHeader;
  font-weight: 700;
  font-style: italic;
  display: flex;
  align-items: center;
}

#download-resume {
  color: white;
  text-decoration: none;
}

#load-dummy > span,
#clear-resume > span,
#download-resume > span {
  position: relative;
  top: 2.5px;
}

#load-dummy:hover,
#clear-resume:hover,
#download-resume:hover {
  cursor: pointer;
  box-shadow: inset 0 -0.225rem rgb(255, 230, 0);
}

.svg-header-btns {
  width: 40px;
  height: 40px;
}

.modal-container {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-modal {
  width: 650px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: -250px;
  transition: top 0.5s ease-out, opacity 0.5s ease-out;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(255, 127, 127);
  font-size: 2rem;
  gap: 1rem;
  font-family: myFontRegular;
  opacity: 0;
  border-radius: 5px;
}

.warning-msg {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#warning-img {
  width: 50px;
  height: 50px;
}

.reset-modal-buttons {
  display: flex;
  gap: 1rem;
  font-size: 1.75rem;
}

#okay-reset,
#cancel-reset {
  padding: 0 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

#cancel-reset {
  color: rgb(255, 62, 62);
  border: 1px solid rgb(255, 62, 62);
}

#okay-reset {
  color: white;
  background-color: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
}

#okay-reset:hover {
  background-color: rgb(0, 138, 223);
}

#cancel-reset:hover {
  background-color: rgb(228, 228, 228);
}

@media (min-width: 360px) and (max-width: 768px) {
  .button-text {
    display: none;
  }

  #load-dummy,
  #clear-resume,
  #download-resume {
    padding: 0;
  }

  .header-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.05rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #logo-img {
    width: 45px;
    height: 45px;
  }

  #logo-text {
    font-family: myFontTitle;
    font-weight: 500;
    font-size: 1.85rem;
  }

  .svg-header-btns {
    width: 35px;
    height: 35px;
  }

  header {
    width: 100%;
    padding: 0 0.5rem;
  }

  .reset-modal {
    width: 350px;
    height: max-content;
    font-size: 1rem;
    padding: 0.75rem 0;
  }

  #warning-img {
    width: 40px;
    height: 40px;
  }

  .warning-msg {
    gap: 0.25rem;
  }

  #okay-reset,
  #cancel-reset {
    padding: 0 0.5rem;
  }

  .reset-modal-buttons {
    gap: 0.5rem;
  }
}
