.project-form {
  display: none;
}

<<<<<<< HEAD
=======
.project-cards {
  display: none;
}

>>>>>>> 9ebe82d7b02dd12e60dc0224825f30889513e769
#update-project {
  display: none;
}

#update-detail {
  display: none;
}
