@font-face {
  font-family: myFontResume;
  src: url("../fonts/charter_regular.woff2");
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 4rem 0;
  font-family: "Times New Roman", serif;
}

.resume {
  width: calc(100% - 144pt);
  aspect-ratio: 1/1.414;
  padding: 0.5in;
  box-shadow: 0px 0px 25px rgb(171, 171, 171);
  display: flex;
  flex-direction: column;
  gap: 12pt;
}

#section-heading {
  font-size: 12pt;
  font-weight: bold;
  border-bottom: 0.5pt solid black;
}

.section-resume {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -5px;
}

.section-container {
  display: flex;
  flex-direction: column;
  font-size: 11pt;
  gap: 9pt;
}

.div-styles {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.list-styles {
  padding-left: 15pt;
  display: flex;
  flex-direction: column;
  gap: 3pt;
}

.bold-styles {
  font-weight: bold;
}

.italic-styles {
  font-style: italic;
}

.bold-italic-styles {
  font-weight: bold;
  font-style: italic;
}

/* GENERAL */
.general-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general-container {
  position: relative;
  top: -5px;
  font-size: 11pt;
}

.general-container a {
  color: black;
  white-space: nowrap;
}

#name-general {
  font-size: 24pt;
}

@media (min-width: 360px) and (max-width: 767px) {
  .resume-container {
    padding: 0.5rem 0;
  }

  .resume {
    width: calc(100% - 1rem);
    aspect-ratio: 1/1.414;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgb(171, 171, 171);
    gap: 9px;
  }

  #section-heading {
    font-size: 9px;
    font-weight: bold;
    border-bottom: 0.38px solid black;
  }

  .section-resume {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5px;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    font-size: 8.25px;
    gap: 6.75px;
  }

  .div-styles {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .list-styles {
    padding-left: 11.25px;
    display: flex;
    flex-direction: column;
    gap: 2.25px;
  }

  /* GENERAL */
  .general-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .general-container {
    position: relative;
    top: -5px;
    font-size: 7.25px;
  }

  .general-container a {
    color: black;
    white-space: nowrap;
  }

  #name-general {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .resume-container {
    padding: 2rem 0;
  }

  .resume {
    width: calc(100% - 4rem);
    aspect-ratio: 1/1.414;
    padding: 0.5in;
    box-shadow: 0px 0px 10px rgb(171, 171, 171);
    gap: 12pt;
  }
}
