.role-card {
  display: flex;
  flex-direction: column;
}

.role-card > div {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
}

#edit-role,
#delete-role {
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10px;
  top: -1px;
  padding: 0;
}

#delete-role {
  padding: 1.5px;
}

#edit-role:hover,
#delete-role:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

@media (min-width: 360px) and (max-width: 767px) {
  .role-card {
  }

  .role-card > div > div:first-child {
    display: flex;
    width: 80%;
  }

  .role-card > div > div:first-child > span {
    height: 1.25em;
    overflow: hidden;
  }

  .role-card > div {
    justify-content: start;
    align-items: center;
  }

  .role-card > div > p {
    display: block;
  }

  .role-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "edit-r delete-r";
  }

  #edit-role,
  #delete-role {
    padding: 0;
  }

  #edit-role {
    grid-area: edit-r;
  }

  #delete-role {
    grid-area: delete-r;
  }
}
