:root {
  --sidebar-border-color: rgb(160, 160, 160);
}

.limit-error {
  display: none;
  align-items: center;
  place-self: center;
  gap: 0.5rem;
}

.limit-error span {
  font-size: 1.5rem;
}

.dropdown-svg {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease-in-out;
}

.rotate-dropdown {
  transform: rotate(180deg);
}

.sidebar {
  border-right: 1px solid var(--sidebar-border-color);
  box-shadow: 1px 5px 25px rgb(199, 199, 199);
}

h3 {
  font-family: myFontRegular;
  font-weight: 400;
}

@media (min-width: 360px) and (max-width: 1440px) {
  .sidebar {
    border-right: none;
    box-shadow: 1px 1px 15px rgb(199, 199, 199);
  }
}
