.technical-skills-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--sidebar-border-color);
}

.technical-skills-main {
  max-height: 600px;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: 1fr;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.45s;
  transition-timing-function: ease-in-out;
  font-family: myFontRegular;
  padding: 0 1.25rem;
  box-sizing: content-box;
  border-bottom: 1px solid var(--sidebar-border-color);
}

.technical-skills-main.closed {
  max-height: 0;
  border-bottom: 0px solid var(--sidebar-border-color);
}

.add-technical-skills {
  place-self: end;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  width: max-content;
  transition: all 0.45s ease;
  position: relative;
  top: -150px;
  overflow: hidden;
  transform: scaleY(0);
}

.add-technical-skills.visible {
  position: relative;
  top: 0px;
  transform: scaleY(1);
  margin-top: 1.25rem;
  padding: 0.5rem 1rem;
  transform-origin: top;
  margin-bottom: 1.25rem;
}

.add-technical-skills:hover {
  background-color: black;
}

.technical-skills-form {
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.45s ease;
  overflow: hidden;
  display: flex;
  max-height: 500px;
  margin-bottom: 1.25rem;
  position: relative;
  top: -5px;
}

.technical-skills-form.closed {
  max-height: 0;
  margin: 0;
}

.technical-skills-type,
.technical-skills-list,
.skills-group-btns {
  display: flex;
  flex-direction: column;
}

#add-skills-group {
  place-self: start;
  padding: 0.5rem 1rem;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  width: max-content;
}

#add-skills-group:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

#update-skills-group {
  display: none;
  place-self: start;
  padding: 0.5rem 1rem;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  width: max-content;
}

#update-skills-group:hover {
  background-color: black;
}

.technical-skills-form input {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.technical-skills-form input:focus {
  border: 1px solid rgb(67, 122, 232);
  box-shadow: 3px 3px 10px rgba(111, 105, 105, 0.3);
}

.technical-skills-form input:user-invalid {
  border: 1px solid red;
}

.technical-skills-form-btns {
  align-self: end;
  display: flex;
  gap: 1rem;
}

#cancel-technical-skills,
#submit-technical-skills {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

#cancel-technical-skills {
  color: rgb(255, 62, 62);
  border: 1px solid rgb(255, 62, 62);
}

#submit-technical-skills {
  color: white;
  background-color: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
}

#submit-technical-skills:hover {
  background-color: rgb(0, 138, 223);
}

#cancel-technical-skills:hover {
  background-color: rgb(228, 228, 228);
}

.technical-skills-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
