.work-form {
  display: none;
}

<<<<<<< HEAD
=======
.work-cards {
  display: none;
}

>>>>>>> 9ebe82d7b02dd12e60dc0224825f30889513e769
#update-work {
  display: none;
}

#update-role {
  display: none;
}
