.work-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--sidebar-border-color);
}

.work-main {
  max-height: 1000px;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 1fr;
  overflow: hidden;
  transition: all 0.45s ease-in-out;
  font-family: myFontRegular;
  padding: 0 1.25rem;
  box-sizing: content-box;
  border-bottom: 1px solid var(--sidebar-border-color);
}

.work-main.closed {
  max-height: 0;
  border-bottom: 0px solid var(--sidebar-border-color);
}

.add-work {
  place-self: end;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  width: max-content;
  transition: all 0.45s ease;
  position: relative;
  top: -150px;
  overflow: hidden;
  transform: scaleY(0);
}

.add-work.visible {
  position: relative;
  top: 0px;
  transform: scaleY(1);
  margin-top: 1.25rem;
  padding: 0.5rem 1rem;
  transform-origin: top;
  margin-bottom: 1.25rem;
}

.add-work:hover {
  background-color: black;
}

.work-form {
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.45s ease;
  overflow: hidden;
  display: flex;
  max-height: 800px;
  margin-bottom: 1.25rem;
  position: relative;
  top: -5px;
}

.work-form.closed {
  max-height: 0;
  margin: 0;
}

.work-company-name,
.work-company-location,
.work-position,
.work-start-date,
.work-end-date {
  display: flex;
  flex-direction: column;
}

.work-company-position {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.work-company-name,
.work-position {
  width: 50%;
}

.work-dates {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.work-start-date,
.work-end-date,
.work-company-location {
  width: 30%;
}

.work-role {
  display: flex;
  flex-direction: column;
}

.work-role > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.work-role > div > input {
  width: 100%;
}

#add-role {
  padding: 0.5rem 1rem;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 150px;
  display: flex;
  justify-content: center;
}

#add-role:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

#add-role:hover {
  background-color: black;
}

#update-role {
  display: none;
  padding: 0.5rem 1rem;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 150px;
}

.work-form-btns {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.work-form input {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.work-form input:focus {
  border: 1px solid rgb(67, 122, 232);
  box-shadow: 3px 3px 10px rgba(111, 105, 105, 0.3);
}

.work-form input:user-invalid {
  border: 1px solid red;
}

#cancel-work,
#update-work,
#submit-work {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

#cancel-work {
  color: rgb(255, 62, 62);
  border: 1px solid rgb(255, 62, 62);
}

#submit-work {
  color: white;
  background-color: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
}

#update-work {
  display: none;
  color: white;
  background-color: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
}

#submit-work:hover,
#update-work:hover {
  background-color: rgb(0, 138, 223);
}

#cancel-work:hover {
  background-color: rgb(228, 228, 228);
}

.role-cards {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  box-shadow: inset 0.5rem 0rem rgb(109, 109, 109);
  border-radius: 5px;
}

.role-cards > hr {
  margin-left: 0.5rem;
}

.role-cards > hr:last-of-type {
  display: none;
}

.work-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
